<!DOCTYPE html>
<html>
<head>
  <base target="_top">
  <meta charset="utf-8">
  <!-- vue.js -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <ul>
            <li v-for="member in members" :key="member.id">
              {{ member.sender }}
            </li>
          </ul>
          <h1>GAS Practice</h1>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="lazy"
          >
            <v-text-field
              v-model="senderEmail"
              label="送信者のアドレス"
              required
            ></v-text-field>

            <v-text-field
              v-model="recevierEmail"
              label="受信者のアドレス"
              required
            ></v-text-field>

            <v-select
              v-model="select"
              :items="items"
              label="Point Type"
              required
            ></v-select>

            <v-textarea
              v-model="comments"
              filled
              auto-grow
              label="コメントを入力してください"
              rows="4"
              row-height="30"
            ></v-textarea>

            <v-btn
              color="primary"
              class="mr-4"
              @click="submit"
            >
              Submit
            </v-btn>
            <v-btn
              color="error"
              class="mr-4"
              @click="reset"
            >
              Reset Form
            </v-btn>
          </v-form>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <?!= include('js'); ?>
</body>
</html>